*{
    margin: 0;
    padding: 0;
    

}
h1{
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}
.class1{
    height: 100px;
    width: 400px;
    background-color:violet;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 45px;
    
}
.p{
    font-size:40px;
    font-family: cursive;
    font-weight: 900;
}
.class2{
    height: 100px;
    width: 400px;
    background-color:violet;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 45px;
}
.class3{
    height: 100px;
    width: 400px;
    background-color:violet;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 45px;
}
.class4{
    height: 100px;
    width: 400px;
    background-color:violet;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 45px;
}
.class5{
    height: 100px;
    width: 400px;
    background-color:violet;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 45px;
}
.class6{
    height: 100px;
    width: 400px;
    background-color:violet;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 45px;
}
.class7{
    height: 100px;
    width: 400px;
    background-color:violet;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 45px;
}
.class8{
    height: 100px;
    width: 400px;
    background-color:violet;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 45px;
}


